@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
} */
html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --color-palette-primary: 238, 40, 138;
    --color-palette-light-primary: 242, 90, 163;
    --color-palette-secondary: 59, 130, 246;
    --color-palette-light-secondary: 191 219 254;
    --color-palette-danger: 224, 71, 46;
    --color-palette-disable: 124, 124, 124;
    --color-text-base: 201, 209, 217;
    --color-background-secondary: 31, 42, 68;
    --color-background-main: 15, 23, 42;
  }
}

.gradient-text {
  @apply inline bg-gradient-to-r from-purple-500 via-pink-400 
  to-purple-500 bg-clip-text tracking-tight text-transparent;
}
.outlined-btn {
  @apply rounded border-2 py-1 duration-200 ease-in-out;
}
.filled-btn {
  @apply rounded-md py-2 duration-200 ease-in-out;
}
.post-btn-pink {
  @apply outlined-btn border-skin-submit-btn text-skin-submit-btn hover:bg-skin-submit-btn/10;
}
.post-btn-blue {
  @apply outlined-btn border-skin-attach-btn text-skin-attach-btn hover:bg-skin-attach-btn/20;
}
.text-input {
  @apply block w-full rounded border border-transparent
  bg-skin-input-field 
  bg-clip-padding px-4 py-2 font-normal 
  text-slate-100 transition ease-in-out 
  focus:border-skin-input-field focus:outline-none
  active:bg-skin-secondary;
}
@font-face {
  font-family: "Virgil";
  src: url("../public/Virgil.woff2");
}
